<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6" style="margin-top:15%">
  <div class="panel panel-darker">
    <div class="panel-heading">
      <h1 class="text-center" style="margin-top:0">
        <img src="app/assets/img/logo-text-white.png" alt="strider" width="200">
      </h1>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <a ng-repeat="org in organisations" ui-sref="orgs.dashboard.landing({organisation: org.path})" class="list-group-item">
          {{org.name}}
        </a>
      </div>
      <hr>
      <div class="text-center">
        <a href="" ng-click="logout()">Log out</a>
      </div>
    </div>
  </div>
</div>
<div style="position:absolute; bottom:10px; width:100%; text-align:center; z-index:3; color:rgba(255,255,255,0.4)">
  Made with <i class="fa fa-heart"> in London</i>
</div>
