<h3>Scan items</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>QR Code</th>
      <th>ID</th>
      <th>Categories</th>
      <th>Alternative Ids</th>
    </tr>
  </thead>
  <tr>
    <td width="100"><div class="qr-code qr-code-small" id="itemqr"></div></td>
    <td>{{scan.id}}</td>
    <td>
      <ul ng-repeat="itemCategory in itemCategories">
        <li>
          {{categoriesById[itemCategory.categoryId].name}}
          <a href="" ng-click="removeItem(itemCategories, $index)">
            <i class="fa fa-times"></i>
          </a>
        </li>
      </ul>
    </td>
    <td>
      <ul ng-repeat="altid in item.altIds">
        <li>
          {{altid}}
          <a href="" ng-click="removeItem(item.altIds, $index)">
            <i class="fa fa-times"></i>
          </a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<div class="well" ng-show="unidentifieds.length > 0">
  <h4>Unidentified:</h4>
  <ul ng-repeat="unidentified in unidentifieds">
    <li>{{unidentified.type}} {{unidentified.id}}</li>
  </ul>
</div>

<hr>

<div class="panel panel-default" ng-show="scan.id.length > 0">
  <div class="panel-heading">
    Choose categories
  </div>
  <div class="panel-body">
    <div ng-repeat="category in categories" style="display:inline-block; width:100px">
      <h4><a href="" ng-click="addCategory(category.id)">{{category.name}}</a></h4>
      <div class="qr-code qr-code-small" id="qr-category-{{category.id}}"></div>
    </div>
  </div>
</div>

<div class="btn btn-default" ng-click="updateItem()">
  Save <br>
  <div id="saveqr" style="margin-top:10px"></div>
</div>

<div style="position:absolute; z-index:1; border-top:5px dashed #ccc; bottom:0; left:0; width:100%">
  <textarea id="scanArea" ng-focus="scan.focused = true" ng-blur="scan.focused = false" style="width:100%; height:200px; position:relative; z-index:2" class="form-transparent" ng-model="scan.code" ng-model-options="{ debounce: 100 }"></textarea>
  
  <span style="position:absolute; z-index:-1; color:#999; width:100%; text-align:center; top:80px; font-size:2em;"
        ng-class="{'text-muted' : scan.focused}">
    <span ng-show="!scan.focused" class="blink">Place cursor here to scan</span>
    <span ng-show="scan.focused && !scan.loading">Ready to scan</span>
    <span ng-show="scan.focused && scan.loading">Processing...</span>
  </span>
</div>