<form class="col-md-12" ng-submit="submit()" name="editForm">
  <div class="form-group">
    <label class="control-label" for="name">Name:</label>
    <input type="text" ng-model="location.name" class="form-control" id="name" placeholder="Enter name" required>
  </div>
  <div class="form-group">
    <label class="control-label" for="description">Address:</label>
    <input type="text" ng-model="location.address" class="form-control" id="description" placeholder="Enter address">
  </div>
  <div class="form-group">
    <label class="control-label" for="colour">Postcode:</label>
    <input type="text" ng-model="location.postcode" class="form-control" id="colour" placeholder="Enter postcode">
  </div>
  </div>
  <hr>
  <input type="submit" ng-disabled="!editForm.$valid || !editForm.$dirty" ladda="updating" class="btn btn-primary" value="Save">
</form>
