<h3><small class="bg-success text-success" ng-show="savedText" style="margin-left:20px; display:inline-block; padding:5px 10px">Changes saved!</small></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>QR Code</th>
      <th>ID</th>
      <th>Categories</th>
      <th>Alternative Ids</th>
    </tr>
  </thead>
  <tr>
    <td width="100"><div class="qr-code qr-code-small" id="itemqr"></div></td>
    <td>{{item.id}}</td>
    <td>
      <ul ng-repeat="itemCategory in itemCategories track by $index">
        <li>
          {{categoriesById[itemCategory.categoryId].name}}
          <a href="" ng-click="removeItem(itemCategories, $index)">
            <i class="fa fa-times"></i>
          </a>
        </li>
      </ul>
    </td>
    <td>
      <ul ng-repeat="altid in item.altIds track by altid+$index">
        <li>
          {{altid}}
          <a href="" ng-click="removeItem(item.altIds, $index)">
            <i class="fa fa-times"></i>
          </a>
        </li>
      </ul>
    </td>
  </tr>
</table>

<div class="well" ng-show="unidentifieds.length > 0">
  <h4>Unidentified:</h4>
  <ul ng-repeat="unidentified in unidentifieds">
    <li>{{unidentified.type}} {{unidentified.id}}</li>
  </ul>
</div>

<hr>

<div class="panel panel-default" ng-show="item.id.length > 0">
  <div class="panel-heading">
    Choose categories
  </div>
  <div class="panel-body">
    <a href="" style="margin-right:10px" ng-click="addCategory(category.id)" ng-repeat="category in categories" class="btn btn-sm btn-default">
      {{category.name}}
      <div class="qr-code qr-code-small" id="qr-category-{{category.id}}"></div>
    </a>
  </div>
</div>

<hr>

<div>
    <div class="btn btn-default" ng-click="updateItem()">
      Save <br>
      <div id="saveqr" style="margin-top:10px"></div>
    </div>
  </div>