<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart"></i> Locations
        <span class="pull-right">
          <a class="btn btn-xs btn-default" ng-click="showNewLocationForm()">New Location</a>
        </span>
      </div>
      <div class="panel-body" ng-show="locations.$resolved">
        <table class="table table-condensed table-striped" ng-show="locations.length > 0">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Postcode</th>
          </tr>
          <tr ng-repeat="loc in locations">
            <td><a ui-sref="orgs.dashboard.locations.edit({id: loc.id})">{{loc.name}}</a></td>
            <td>{{loc.address}}</td>
            <td>{{loc.postcode}}</td>
          </tr>
        </table>
        <div class="alert alert-info" ng-show="locations.length < 1">
          <i class="fa fa-warning"></i> No locations available
        </div>
      </div>
      <div class="panel-body" ng-show="!locations.$resolved">
        <i class="fa fa-circle-o-notch fa-spin"></i> Loading locations...
      </div>
    </div>
  </div>
</div>