html, body {
  width:100%;
  height:100%;
  background:transparent;
}
html{
  background-color: #2B99F6;
  background-image: linear-gradient(-90deg, #7F16D4, #14BDFF);
  -webkit-box-shadow: inset 0px 0px 200px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 200px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 200px 0px rgba(0, 0, 0, 0.3);
}

.no-blur{
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: filter 10s;
  -webkit-transition: filter 10s;
}

.blur{
  -webkit-filter: blur(5px);
}

.navbar{
  border-radius: 0px;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand:hover{
  background:inherit;
}
.navbar a{
  color:inherit;
}
.breadcrumb{
  border-radius: 0;
  margin:0 -15px 15px;
}

.expand-height{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.sidebar{
  background: #333;
  color: #efefef;
}

.sidebar a{
  color: inherit;
}

.sidebar .list-group{
  margin:36px 0 0 0;
}

.sidebar .list-group-item{
  border-radius: 0;
  background: transparent;
  color: inherit;
  border: none;
  border-left:solid 4px transparent;
}

.sidebar .list-group-item.active, .sidebar .list-group-item:focus, .sidebar .list-group-item.active:hover{
  border-left-color:#72D4A8;
  background:#efefef;
  color:#333;
}

.sidebar .list-group-item.active:after{
  content: "";
}

.sidebar .list-group-item .fa{
  color:#aaa;
  margin-right:5px;
}

.sidebar .list-group-item:after {
  margin-top: -2px;
  float: right;
  content: "\f105";
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 300;
  height: auto;
  text-shadow: none;
  color: #ccc;
}

.sidebar .list-group-item:hover{
  background: #454D4B;
  border-left-color:#48C389;
  color: inherit;
}

.panel-color-1{
  background-image: linear-gradient(-90deg, #003CF0, #2478FF);
  color:#fff;
}

.panel-jumbo{
  font-size:2em;
  text-align:right;
  padding-top:26px;
}
.btn-primary{
    background-color: #3680E9;
    border-color: #2e6da4;
}
.btn-primary:hover{
  background-color: #3779CE;
}

#loginView{
  position: absolute;
  display: none;
  width:100%;
  top:0;
  left:0;
}

.form-signin {
  max-width: 330px;
  margin: 10% auto;
}

.form-signin .panel {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 100px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
