@page{
  size: auto;
  margin: 0mm;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.paper-a4 {
  max-height: 297mm;
  width: 216mm;
  margin:0 auto;
  background:#fff;
  padding: 13.7mm 9.2mm;
}
.label-l7160{
  width: 63.5mm;
  height: 38.4mm;
  margin-right:1.94mm;
  margin-bottom:-1.7mm;
  display:inline-block;
  background:#efefef;
  border-radius:2mm;
  overflow:hidden;
  word-break: break-all;
  position:relative;
}
.label-l7160:last-child{
  margin-right:0;
}
.label-qr{
  position: absolute;
  top: 6mm;
  left: 5mm;
}
.label-vertical{
  position: absolute;
  right: 29mm;
  bottom: 10mm;
  transform: rotate(-90deg);
  transform-origin: right top 0;
  text-align: center;
}
.label-vertical img{
  margin-top:3mm;
}