.scan-area {
  display: inline-block;
  width: 126px;
  overflow: hidden;
  position: relative;
  background: $gray;
  border-radius: 10px;
  padding: 3px 10px;
  color: $gray-light;

  .scan-indicator {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-top: 3px;
    background: #eb0000;
  }

  &.scan-ready{
    box-shadow: #F3F9FF 0 0 5px;

    .scan-indicator {
      background: #2BAB00;
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 126px;
    height: 2em;
  }
}